.error{
    color: red;
}
.success{
    color: green;
}
.hidden{
    display: none;
}
.input-container{
    background-color: orange;
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    border-radius: 10px;
    box-shadow:10px 13px 50px -13px rgba(0,0,0,0.75)
}
.input-container input{
    margin: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.input-container button{
    border: none;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
}
.input-container h1{
    text-align: center;
    color: white;
}
.cont{
    display: flex;
}
.client-content{
    margin-left: 10px;
    background-color: orange;
    width: 50%;
    display: flex;
    max-height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    box-shadow:10px 13px 50px -13px rgba(0,0,0,0.75)
}
.client-content h1{
    text-align: center;
    color: white;
}
.client-card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}
.client-card button{
    background-color: orange;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}